.App {
    text-align: center;
    color: black
}

#city {
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid whitesmoke;
    background-color: transparent;
    color: gray;
}

#city:focus {
    background-color: transparent;
    box-shadow: none !important;
    border-bottom: 2px solid lightseagreen;
    color: black;
    outline-width: 0;
}

#country {
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid whitesmoke;
    background-color: transparent;
    color: gray;
}

#country:focus {
    background-color: transparent;
    box-shadow: none !important;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid lightseagreen;
    color: black;
    outline-width: 0;
}

#country {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    background-color: transparent;
}

@media screen and (max-width: 460px) {
    #city {
        width: 320px;
    }
    #country {
        width: 320px;
        margin-top: 20px;
    }
    #btn {
        margin-top: 30px;
    }
}

#btn:focus {
    outline-width: 0;
}